{% extends 'base.html' %} {% block content %}
<div class="title-breadcrumb-special dt-sl">
  <div class="breadcrumb dt-sl">
    <nav>
      <a href="#">خانه</a>
      <a href="#">وردپرس</a>
      <a href="#">افزودن دکمه تماس در سایت وردپرسی</a>
    </nav>
  </div>
  <div class="title-page dt-sl">
    <h1>افزودن دکمه تماس در سایت وردپرسی</h1>
  </div>
  <div class="post-rating">
    <div
      class="star-rate"
      data-toggle="tooltip"
      data-placement="top"
      data-html="true"
      title=""
      data-original-title="&lt;b&gt;۴&lt;/b&gt; از ۴ رای"
    >
      <span class="active"></span>
      <span class="active"></span>
      <span class="active"></span>
      <span class="active"></span>
      <span class="active"></span>
    </div>
  </div>
</div>
{% endblock %}
