<form
  class="shipping-data-form"
  style="dt-sn dt-sn--box pt-3 pb-3"
  mehtod="post"
>
  <div
    class="section-title text-sm-title title-wide no-after-title-wide mb-0 px-res-1"
  >
    <h2>انتخاب نحوه ارسال</h2>
  </div>
  <div class="checkout-shipment border-bottom pb-3 mb-4">
    <div class="custom-control custom-radio pl-0 pr-3">
      <input
        type="radio"
        class="custom-control-input"
        name="radio1"
        id="radio1"
        value="option1"
        checked=""
      />
      <label for="radio1" class="custom-control-label"> عادی </label>
    </div>
    <div class="custom-control custom-radio pl-0 pr-3">
      <input
        type="radio"
        class="custom-control-input"
        name="radio1"
        id="radio2"
        value="option2"
      />
      <label for="radio2" class="custom-control-label">
        سریع‌ (مرسوله‌ها در سریع‌ترین زمان ممکن ارسال می‌شوند)
      </label>
    </div>
  </div>
  <div
    class="section-title text-sm-title title-wide no-after-title-wide mb-0 px-res-1"
  >
    <h2>مرسوله ۱ از ۱</h2>
  </div>
  <div class="checkout-pack">
    <section class="products-compact">
      <!-- Start Product-Slider -->
      <div class="col-12">
        <div
          class="products-compact-slider carousel-md owl-carousel owl-theme owl-rtl owl-loaded owl-drag"
        >
          <div class="owl-stage-outer">
            <div
              class="owl-stage"
              style="
                transform: translate3d(0px, 0px, 0px);
                transition: all;
                width: 1414px;
              "
            >
              <div
                class="owl-item active"
                style="width: 192px; margin-left: 10px"
              >
                <div class="item">
                  <div class="product-card mb-3">
                    <a class="product-thumb" href="shop-single.html">
                      <img
                        src="/static/assets/img/products/07.jpg"
                        alt="Product Thumbnail"
                      />
                    </a>
                    <div class="product-card-body">
                      <h5 class="product-title">
                        <a href="shop-single.html">مانتو زنانه</a>
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item active"
                style="width: 192px; margin-left: 10px"
              >
                <div class="item">
                  <div class="product-card mb-3">
                    <a class="product-thumb" href="shop-single.html">
                      <img
                        src="/static/assets/img/products/017.jpg"
                        alt="Product Thumbnail"
                      />
                    </a>
                    <div class="product-card-body">
                      <h5 class="product-title">
                        <a href="shop-single.html">کت مردانه</a>
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item active"
                style="width: 192px; margin-left: 10px"
              >
                <div class="item">
                  <div class="product-card mb-3">
                    <a class="product-thumb" href="shop-single.html">
                      <img
                        src="/static/assets/img/products/013.jpg"
                        alt="Product Thumbnail"
                      />
                    </a>
                    <div class="product-card-body">
                      <h5 class="product-title">
                        <a href="shop-single.html"
                          >مانتو زنانه مدل هودی تیک تین</a
                        >
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item active"
                style="width: 192px; margin-left: 10px"
              >
                <div class="item">
                  <div class="product-card mb-3">
                    <a class="product-thumb" href="shop-single.html">
                      <img
                        src="/static/assets/img/products/09.jpg"
                        alt="Product Thumbnail"
                      />
                    </a>
                    <div class="product-card-body">
                      <h5 class="product-title">
                        <a href="shop-single.html">مانتو زنانه</a>
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item active"
                style="width: 192px; margin-left: 10px"
              >
                <div class="item">
                  <div class="product-card mb-3">
                    <a class="product-thumb" href="shop-single.html">
                      <img
                        src="/static/assets/img/products/010.jpg"
                        alt="Product Thumbnail"
                      />
                    </a>
                    <div class="product-card-body">
                      <h5 class="product-title">
                        <a href="shop-single.html">مانتو زنانه</a>
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="owl-item" style="width: 192px; margin-left: 10px">
                <div class="item">
                  <div class="product-card mb-3">
                    <a class="product-thumb" href="shop-single.html">
                      <img
                        src="/static/assets/img/products/011.jpg"
                        alt="Product Thumbnail"
                      />
                    </a>
                    <div class="product-card-body">
                      <h5 class="product-title">
                        <a href="shop-single.html">مانتو زنانه</a>
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="owl-item" style="width: 192px; margin-left: 10px">
                <div class="item">
                  <div class="product-card mb-3">
                    <a class="product-thumb" href="shop-single.html">
                      <img
                        src="/static/assets/img/products/019.jpg"
                        alt="Product Thumbnail"
                      />
                    </a>
                    <div class="product-card-body">
                      <h5 class="product-title">
                        <a href="shop-single.html">تیشرت مردانه</a>
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-nav">
            <button type="button" role="presentation" class="owl-prev disabled">
              <i class="mdi mdi mdi-chevron-right"></i></button
            ><button type="button" role="presentation" class="owl-next">
              <i class="mdi mdi mdi-chevron-left"></i>
            </button>
          </div>
          <div class="owl-dots">
            <button role="button" class="owl-dot active"><span></span></button
            ><button role="button" class="owl-dot"><span></span></button>
          </div>
          <div class="owl-thumbs"></div>
        </div>
      </div>
      <!-- End Product-Slider -->
    </section>
    <hr />
    <div class="row mx-0">
      <div class="col-12">
        <div class="checkout-tab-times dt-sl">
          <ul class="nav nav-tabs dt-sl" id="myTab" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link"
                id="home-tab"
                data-toggle="tab"
                href="#home"
                role="tab"
                aria-controls="home"
                aria-selected="false"
              >
                سه شنبه
                <span>26 شهریور</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                id="profile-tab"
                data-toggle="tab"
                href="#profile"
                role="tab"
                aria-controls="profile"
                aria-selected="true"
              >
                چهارشنبه
                <span>27 شهریور</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link disabled"
                id="contact-tab"
                data-toggle="tab"
                href="#contact"
                role="tab"
                aria-controls="contact"
                aria-selected="false"
              >
                پنج شنبه
                <span>28 شهریور</span>
              </a>
            </li>
          </ul>
          <div class="tab-content dt-sl" id="myTabContent">
            <div
              class="tab-pane px-2 pt-2 fade"
              id="home"
              role="tabpanel"
              aria-labelledby="home-tab"
            >
              <div class="custom-control custom-radio pl-0 pr-3">
                <input
                  type="radio"
                  class="custom-control-input"
                  name="radio2"
                  id="radio4"
                  value="option1"
                />
                <label for="radio4" class="custom-control-label">
                  ساعت 11 تا 13
                </label>
              </div>

              <div class="custom-control custom-radio pl-0 pr-3">
                <input
                  type="radio"
                  class="custom-control-input"
                  name="radio2"
                  id="radio5"
                  value="option2"
                  checked=""
                />
                <label for="radio5" class="custom-control-label">
                  ساعت 13 تا 15
                </label>
              </div>
            </div>
            <div
              class="tab-pane px-2 pt-2 fade active show"
              id="profile"
              role="tabpanel"
              aria-labelledby="profile-tab"
            >
              <div class="custom-control custom-radio pl-0 pr-3">
                <input
                  type="radio"
                  class="custom-control-input"
                  name="radio3"
                  id="radio6"
                  value="option1"
                />
                <label for="radio6" class="custom-control-label">
                  ساعت 11 تا 13
                </label>
              </div>

              <div class="custom-control custom-radio pl-0 pr-3">
                <input
                  type="radio"
                  class="custom-control-input"
                  name="radio3"
                  id="radio7"
                  value="option2"
                  checked=""
                />
                <label for="radio7" class="custom-control-label">
                  ساعت 13 تا 15
                </label>
              </div>
            </div>
            <div
              class="tab-pane px-2 pt-2 fade"
              id="contact"
              role="tabpanel"
              aria-labelledby="contact-tab"
            >
              ...
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="checkout-time-table checkout-time-table-time">
        <div class="col-12">
          <div class="radio-box custom-control custom-radio pl-0 pr-3">
            <input
              type="radio"
              class="custom-control-input"
              name="post-pishtaz"
              id="1"
              value="1"
              checked=""
            />
            <label for="1" class="custom-control-label">
              <img
                src="/static/assets/img/svg/d86ea8ec.svg"
                class="checkout-additional-options-checkbox-image"
              />
              <div class="content-box">
                <div
                  class="checkout-time-table-title-bar checkout-time-table-title-bar-city"
                >
                  بازه تحویل سفارش: زمان تقریبی تحویل از
                  <span>۱۳ خرداد</span>
                  تا
                  <span>۲۰ خرداد</span>
                </div>
                <ul class="checkout-time-table-subtitle-bar">
                  <li>
                    شیوه ارسال : پست پیشتاز با ظرفیت اختصاصی برای دیجی کالا
                  </li>
                  <li>
                    هزینه ارسال:
                    <span class="">رایگان</span>
                  </li>
                </ul>
              </div>
            </label>
          </div>
        </div>
        <div class="col-12">
          <div class="radio-box custom-control custom-radio pl-0 pr-3">
            <input
              type="radio"
              class="custom-control-input"
              name="post-pishtaz"
              id="2"
              value="2"
            />
            <label for="2" class="custom-control-label">
              <img
                src="/static/assets/img/svg/d86ea8ec.svg"
                class="checkout-additional-options-checkbox-image"
              />
              <div class="content-box">
                <div
                  class="checkout-time-table-title-bar checkout-time-table-title-bar-city"
                >
                  بازه تحویل سفارش: زمان تقریبی تحویل از
                  <span>۱۳ خرداد</span>
                  تا
                  <span>۲۰ خرداد</span>
                </div>
                <ul class="checkout-time-table-subtitle-bar">
                  <li>
                    شیوه ارسال : پست پیشتاز با ظرفیت اختصاصی برای دیجی کالا
                  </li>
                  <li>
                    هزینه ارسال:
                    <span class="">رایگان</span>
                  </li>
                </ul>
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="section-title text-sm-title title-wide no-after-title-wide mb-0 px-res-1"
  >
    <h2>صدور فاکتور</h2>
  </div>
  <div class="checkout-invoice">
    <div class="checkout-invoice-headline">
      <div class="custom-control custom-checkbox pl-0 pr-3">
        <input type="checkbox" class="custom-control-input" checked="" />
        <label class="custom-control-label">درخواست ارسال فاکتور خرید</label>
      </div>
    </div>
  </div>
</form>
