{% extends 'base.html' %} {% block content %}
<div class="row mt-3 mb-5">
  <div class="col-12">
    <div class="category-section dt-sn dt-sl border">
      <div class="category-section-title dt-sl">
        <h3>بیش از ۱،۵۰۰،۰۰۰ کالا در دسته‌بندی‌های مختلف</h3>
      </div>
      <div class="category-section-slider dt-sl">
        <div class="category-slider owl-carousel owl-rtl owl-loaded owl-drag">
          <div class="owl-stage-outer">
            <div
              class="owl-stage"
              style="
                transform: translate3d(0px, 0px, 0px);
                transition: all;
                width: 2000px;
              "
            >
              <div
                class="owl-item active"
                style="width: 212.188px; margin-left: 10px"
              >
                <div class="item">
                  <a href="#" class="promotion-category">
                    <img
                      src="/static/assets/img/category/notebook-computer.png"
                      alt=""
                    />
                    <h4 class="promotion-category-name">کالای دیجیتال</h4>
                    <h6 class="promotion-category-quantity">۱۵۶۰۰۰ کالا</h6>
                  </a>
                </div>
              </div>
              <div
                class="owl-item active"
                style="width: 212.188px; margin-left: 10px"
              >
                <div class="item">
                  <a href="#" class="promotion-category">
                    <img
                      src="/static/assets/img/category/lifeline-in-a-heart-outline.png"
                      alt=""
                    />
                    <h4 class="promotion-category-name">
                      آرایشی، بهداشتی و سلامت
                    </h4>
                    <h6 class="promotion-category-quantity">۴۸۰۰۰ کالا</h6>
                  </a>
                </div>
              </div>
              <div
                class="owl-item active"
                style="width: 212.188px; margin-left: 10px"
              >
                <div class="item">
                  <a href="#" class="promotion-category">
                    <img src="/static/assets/img/category/repair-tools.png" alt="" />
                    <h4 class="promotion-category-name">خودرو،ابزار و اداری</h4>
                    <h6 class="promotion-category-quantity">۵۶۰۰۰ کالا</h6>
                  </a>
                </div>
              </div>
              <div
                class="owl-item active"
                style="width: 212.188px; margin-left: 10px"
              >
                <div class="item">
                  <a href="#" class="promotion-category">
                    <img src="/static/assets/img/category/hanbok.png" alt="" />
                    <h4 class="promotion-category-name">مد و پوشاک</h4>
                    <h6 class="promotion-category-quantity">۲۱۷۰۰۰ کالا</h6>
                  </a>
                </div>
              </div>
              <div
                class="owl-item active"
                style="width: 212.188px; margin-left: 10px"
              >
                <div class="item">
                  <a href="#" class="promotion-category">
                    <img src="/static/assets/img/category/sofa.png" alt="" />
                    <h4 class="promotion-category-name">خانه و آشپزخانه</h4>
                    <h6 class="promotion-category-quantity">۲۲۹۰۰۰ کالا</h6>
                  </a>
                </div>
              </div>
              <div
                class="owl-item active"
                style="width: 212.188px; margin-left: 10px"
              >
                <div class="item">
                  <a href="#" class="promotion-category">
                    <img
                      src="/static/assets/img/category/school-material.png"
                      alt=""
                    />
                    <h4 class="promotion-category-name">لوازم تحریر و هنر</h4>
                    <h6 class="promotion-category-quantity">۸۶۰۰۰ کالا</h6>
                  </a>
                </div>
              </div>
              <div
                class="owl-item active"
                style="width: 212.188px; margin-left: 10px"
              >
                <div class="item">
                  <a href="#" class="promotion-category">
                    <img src="/static/assets/img/category/baby-girl.png" alt="" />
                    <h4 class="promotion-category-name">کودک و نوزاد</h4>
                    <h6 class="promotion-category-quantity">۳۲۰۰۰ کالا</h6>
                  </a>
                </div>
              </div>
              <div class="owl-item" style="width: 212.188px; margin-left: 10px">
                <div class="item">
                  <a href="#" class="promotion-category">
                    <img src="/static/assets/img/category/adventurer.png" alt="" />
                    <h4 class="promotion-category-name">ورزش و سفر</h4>
                    <h6 class="promotion-category-quantity">۱۵۰۰۰ کالا</h6>
                  </a>
                </div>
              </div>
              <div class="owl-item" style="width: 212.188px; margin-left: 10px">
                <div class="item">
                  <a href="#" class="promotion-category">
                    <img
                      src="/static/assets/img/category/restaurant-cutlery-circular-symbol-of-a-spoon-and-a-fork-in-a-circle.png"
                      alt=""
                    />
                    <h4 class="promotion-category-name">خوردنی و آشامیدنی</h4>
                    <h6 class="promotion-category-quantity">۲۲۰۰۰ کالا</h6>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-nav">
            <button type="button" role="presentation" class="owl-prev disabled">
              <i class="mdi mdi mdi-chevron-right"></i></button
            ><button type="button" role="presentation" class="owl-next">
              <i class="mdi mdi mdi-chevron-left"></i>
            </button>
          </div>
          <div class="owl-dots disabled"></div>
          <div class="owl-thumbs"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
