{% extends 'base.html' %} {% block content %}
<div class="dt-sl dt-sn mb-5">
  <div class="row">
    <div class="col-12">
      <div class="section-title text-sm-title title-wide no-after-title-wide">
        <h2>پیشنهاد ما</h2>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-4 col-md-6 col-sm-12 col-12 pt-4">
      <div class="row">
        <div class="col-12">
          <div class="card-horizontal-product border-bottom rounded-0">
            <div class="card-horizontal-product-thumb">
              <a href="#">
                <img src="/static/assets/img/products/017.jpg" alt="" />
              </a>
            </div>
            <div class="card-horizontal-product-content">
              <div class="card-horizontal-product-title">
                <a href="#">
                  <h3>کت مردانه مجلسی مدل k-m-5110</h3>
                </a>
              </div>
              <div class="rating-stars">
                <i class="mdi mdi-star active"></i>
                <i class="mdi mdi-star active"></i>
                <i class="mdi mdi-star active"></i>
                <i class="mdi mdi-star active"></i>
                <i class="mdi mdi-star"></i>
              </div>
              <div class="card-horizontal-product-price">
                <span>199,000 تومان</span>
              </div>
              <div class="card-horizontal-product-buttons">
                <a href="#" class="btn btn-outline-info">جزئیات محصول</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card-horizontal-product border-bottom rounded-0">
            <div class="card-horizontal-product-thumb">
              <a href="#">
                <img src="/static/assets/img/products/020.jpg" alt="" />
              </a>
            </div>
            <div class="card-horizontal-product-content">
              <div class="card-horizontal-product-title">
                <a href="#">
                  <h3>کت مردانه مجلسی مدل k-m-5110</h3>
                </a>
              </div>
              <div class="rating-stars">
                <i class="mdi mdi-star active"></i>
                <i class="mdi mdi-star active"></i>
                <i class="mdi mdi-star active"></i>
                <i class="mdi mdi-star active"></i>
                <i class="mdi mdi-star"></i>
              </div>
              <div class="card-horizontal-product-price">
                <span>199,000 تومان</span>
              </div>
              <div class="card-horizontal-product-buttons">
                <a href="#" class="btn btn-outline-info">جزئیات محصول</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card-horizontal-product border-bottom rounded-0">
            <div class="card-horizontal-product-thumb">
              <a href="#">
                <img src="/static/assets/img/products/014.jpg" alt="" />
              </a>
            </div>
            <div class="card-horizontal-product-content">
              <div class="card-horizontal-product-title">
                <a href="#">
                  <h3>کت مردانه مجلسی مدل k-m-5110</h3>
                </a>
              </div>
              <div class="rating-stars">
                <i class="mdi mdi-star active"></i>
                <i class="mdi mdi-star active"></i>
                <i class="mdi mdi-star active"></i>
                <i class="mdi mdi-star active"></i>
                <i class="mdi mdi-star"></i>
              </div>
              <div class="card-horizontal-product-price">
                <span>199,000 تومان</span>
              </div>
              <div class="card-horizontal-product-buttons">
                <a href="#" class="btn btn-outline-info">جزئیات محصول</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-12 pt-4">
      <div class="row">
        <div class="col-12">
          <div class="card-horizontal-product border-bottom rounded-0">
            <div class="card-horizontal-product-thumb">
              <a href="#">
                <img src="/static/assets/img/products/016.jpg" alt="" />
              </a>
            </div>
            <div class="card-horizontal-product-content">
              <div class="card-horizontal-product-title">
                <a href="#">
                  <h3>کت مردانه مجلسی مدل k-m-5110</h3>
                </a>
              </div>
              <div class="rating-stars">
                <i class="mdi mdi-star active"></i>
                <i class="mdi mdi-star active"></i>
                <i class="mdi mdi-star active"></i>
                <i class="mdi mdi-star active"></i>
                <i class="mdi mdi-star"></i>
              </div>
              <div class="card-horizontal-product-price">
                <span>199,000 تومان</span>
              </div>
              <div class="card-horizontal-product-buttons">
                <a href="#" class="btn btn-outline-info">جزئیات محصول</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card-horizontal-product border-bottom rounded-0">
            <div class="card-horizontal-product-thumb">
              <a href="#">
                <img src="/static/assets/img/products/018.jpg" alt="" />
              </a>
            </div>
            <div class="card-horizontal-product-content">
              <div class="card-horizontal-product-title">
                <a href="#">
                  <h3>کت مردانه مجلسی مدل k-m-5110</h3>
                </a>
              </div>
              <div class="rating-stars">
                <i class="mdi mdi-star active"></i>
                <i class="mdi mdi-star active"></i>
                <i class="mdi mdi-star active"></i>
                <i class="mdi mdi-star active"></i>
                <i class="mdi mdi-star"></i>
              </div>
              <div class="card-horizontal-product-price">
                <span>199,000 تومان</span>
              </div>
              <div class="card-horizontal-product-buttons">
                <a href="#" class="btn btn-outline-info">جزئیات محصول</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card-horizontal-product border-bottom rounded-0">
            <div class="card-horizontal-product-thumb">
              <a href="#">
                <img src="/static/assets/img/products/015.jpg" alt="" />
              </a>
            </div>
            <div class="card-horizontal-product-content">
              <div class="card-horizontal-product-title">
                <a href="#">
                  <h3>کت مردانه مجلسی مدل k-m-5110</h3>
                </a>
              </div>
              <div class="rating-stars">
                <i class="mdi mdi-star active"></i>
                <i class="mdi mdi-star active"></i>
                <i class="mdi mdi-star active"></i>
                <i class="mdi mdi-star active"></i>
                <i class="mdi mdi-star"></i>
              </div>
              <div class="card-horizontal-product-price">
                <span>199,000 تومان</span>
              </div>
              <div class="card-horizontal-product-buttons">
                <a href="#" class="btn btn-outline-info">جزئیات محصول</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-12 pt-4">
      <div class="row">
        <div class="col-12">
          <div class="card-horizontal-product border-bottom rounded-0">
            <div class="card-horizontal-product-thumb">
              <a href="#">
                <img src="/static/assets/img/products/017.jpg" alt="" />
              </a>
            </div>
            <div class="card-horizontal-product-content">
              <div class="card-horizontal-product-title">
                <a href="#">
                  <h3>کت مردانه مجلسی مدل k-m-5110</h3>
                </a>
              </div>
              <div class="rating-stars">
                <i class="mdi mdi-star active"></i>
                <i class="mdi mdi-star active"></i>
                <i class="mdi mdi-star active"></i>
                <i class="mdi mdi-star active"></i>
                <i class="mdi mdi-star"></i>
              </div>
              <div class="card-horizontal-product-price">
                <span>199,000 تومان</span>
              </div>
              <div class="card-horizontal-product-buttons">
                <a href="#" class="btn btn-outline-info">جزئیات محصول</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card-horizontal-product border-bottom rounded-0">
            <div class="card-horizontal-product-thumb">
              <a href="#">
                <img src="/static/assets/img/products/020.jpg" alt="" />
              </a>
            </div>
            <div class="card-horizontal-product-content">
              <div class="card-horizontal-product-title">
                <a href="#">
                  <h3>کت مردانه مجلسی مدل k-m-5110</h3>
                </a>
              </div>
              <div class="rating-stars">
                <i class="mdi mdi-star active"></i>
                <i class="mdi mdi-star active"></i>
                <i class="mdi mdi-star active"></i>
                <i class="mdi mdi-star active"></i>
                <i class="mdi mdi-star"></i>
              </div>
              <div class="card-horizontal-product-price">
                <span>199,000 تومان</span>
              </div>
              <div class="card-horizontal-product-buttons">
                <a href="#" class="btn btn-outline-info">جزئیات محصول</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card-horizontal-product border-bottom rounded-0">
            <div class="card-horizontal-product-thumb">
              <a href="#">
                <img src="/static/assets/img/products/014.jpg" alt="" />
              </a>
            </div>
            <div class="card-horizontal-product-content">
              <div class="card-horizontal-product-title">
                <a href="#">
                  <h3>کت مردانه مجلسی مدل k-m-5110</h3>
                </a>
              </div>
              <div class="rating-stars">
                <i class="mdi mdi-star active"></i>
                <i class="mdi mdi-star active"></i>
                <i class="mdi mdi-star active"></i>
                <i class="mdi mdi-star active"></i>
                <i class="mdi mdi-star"></i>
              </div>
              <div class="card-horizontal-product-price">
                <span>199,000 تومان</span>
              </div>
              <div class="card-horizontal-product-buttons">
                <a href="#" class="btn btn-outline-info">جزئیات محصول</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
