{% extends 'base.html' %} {% block content %}
<div class="slider-section dt-sl mb-5">
  <div class="row">
    <!-- Start Product-Slider -->
    <div class="col-12">
      <div
        class="brand-slider carousel-lg owl-carousel owl-theme owl-rtl owl-loaded owl-drag"
      >
        <div class="owl-stage-outer">
          <div
            class="owl-stage"
            style="
              transform: translate3d(0px, 0px, 0px);
              transition: all;
              width: 1774px;
            "
          >
            <div
              class="owl-item active"
              style="width: 211.667px; margin-left: 10px"
            >
              <div class="item">
                <img
                  src="/static/assets/img/brand/1076.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
            <div
              class="owl-item active"
              style="width: 211.667px; margin-left: 10px"
            >
              <div class="item">
                <img
                  src="/static/assets/img/brand/1078.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
            <div
              class="owl-item active"
              style="width: 211.667px; margin-left: 10px"
            >
              <div class="item">
                <img
                  src="/static/assets/img/brand/1080.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
            <div
              class="owl-item active"
              style="width: 211.667px; margin-left: 10px"
            >
              <div class="item">
                <img
                  src="/static/assets/img/brand/2315.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
            <div
              class="owl-item active"
              style="width: 211.667px; margin-left: 10px"
            >
              <div class="item">
                <img
                  src="/static/assets/img/brand/1086.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
            <div
              class="owl-item active"
              style="width: 211.667px; margin-left: 10px"
            >
              <div class="item">
                <img
                  src="/static/assets/img/brand/5189.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
            <div class="owl-item" style="width: 211.667px; margin-left: 10px">
              <div class="item">
                <img
                  src="/static/assets/img/brand/1000006973.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
            <div class="owl-item" style="width: 211.667px; margin-left: 10px">
              <div class="item">
                <img
                  src="/static/assets/img/brand/1000014452.jpg"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
        <div class="owl-nav">
          <button type="button" role="presentation" class="owl-prev disabled">
            <i class="mdi mdi mdi-chevron-right"></i></button
          ><button type="button" role="presentation" class="owl-next">
            <i class="mdi mdi mdi-chevron-left"></i>
          </button>
        </div>
        <div class="owl-dots">
          <button role="button" class="owl-dot active"><span></span></button
          ><button role="button" class="owl-dot"><span></span></button>
        </div>
        <div class="owl-thumbs"></div>
      </div>
    </div>
    <!-- End Product-Slider -->
  </div>
</div>
{% endblock %}
