{% extends 'base.html' %} 
{% load static %}
{% block content %}
<div class="px-3">
  <div
    class="section-title text-sm-title title-wide mb-1 no-after-title-wide dt-sl mb-2"
  >
    <h2>لیست آخرین علاقه‌مندی‌ها</h2>
  </div>
  <div class="profile-section dt-sl">
    <ul class="list-favorites">
      <li>
        <a href="#">
          <img src="{% static 'assets/img/products/016.jpg' %}" alt="" />
          <span>کت مردانه مجلسی مدل k-m-5500</span>
        </a>
        <button>
          <i class="mdi mdi-trash-can-outline"></i>
        </button>
      </li>
      <li>
        <a href="#">
          <img src="{% static 'assets/img/products/020.jpg' %}" alt="" />
          <span>کت مردانه مجلسی مدل k-m-5640</span>
        </a>
        <button>
          <i class="mdi mdi-trash-can-outline"></i>
        </button>
      </li>
      <li>
        <a href="#">
          <img src="{% static 'assets/img/products/017.jpg' %}" alt="" />
          <span>کت مردانه مجلسی مدل k-m-5110</span>
        </a>
        <button>
          <i class="mdi mdi-trash-can-outline"></i>
        </button>
      </li>
    </ul>
    <div class="profile-section-link">
      <a href="#" class="border-bottom-dt">
        <i class="mdi mdi-square-edit-outline"></i>
        مشاهده و ویرایش لیست مورد علاقه
      </a>
    </div>
  </div>
</div>

{% endblock %}
