{% extends 'base.html' %} {% block content %} {% include
"partials/header/header.html" %}
<main
  class="main-content dt-sl mb-3"
  style="margin-top: 209.167px; transform: none"
>
  <div class="container main-container" style="transform: none">
    <div class="row" style="transform: none">
      {% comment %} profile sidebar {% endcomment %} {% include
      "partials/profile/sildebar.html" %} {% comment %} personal profile {% endcomment %}
      <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12">
        <div class="row">
          <div class="col-12">
            <div class="px-3">
              <div
                class="section-title text-sm-title title-wide mb-1 no-after-title-wide dt-sl mb-2"
              >
                <h2>اطلاعات شخصی</h2>
              </div>
              <div class="profile-section dt-sl">
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <div class="label-info">
                      <span>نام و نام خانوادگی:</span>
                    </div>
                    <div class="value-info">
                      <span>جلال بهرامی راد</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div class="label-info">
                      <span>پست الکترونیک:</span>
                    </div>
                    <div class="value-info">
                      <span>info@gmail.com</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div class="label-info">
                      <span>شماره تلفن همراه:</span>
                    </div>
                    <div class="value-info">
                      <span>09xxxxxxxxx</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div class="label-info">
                      <span>کد ملی:</span>
                    </div>
                    <div class="value-info">
                      <span>-</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div class="label-info">
                      <span>دریافت خبرنامه:</span>
                    </div>
                    <div class="value-info">
                      <span>خیر</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div class="label-info">
                      <span>شماره کارت:</span>
                    </div>
                    <div class="value-info">
                      <span>-</span>
                    </div>
                  </div>
                </div>
                <div class="profile-section-link">
                  <a href="#" class="border-bottom-dt">
                    <i class="mdi mdi-account-edit-outline"></i>
                    ویرایش اطلاعات شخصی
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% include "partials/footer/footer.html" %} {% endblock %}
